pipelines:
  branches:
    default:
      - step:
          name: Sync GitHub Mirror
          image: alpine/git:latest
          clone:
            enabled: false
          script:
            - git clone --bare git@bitbucket.org:cbytedigital/docker-aws-cli-jq.git
            - cd docker-aws-cli-jq.git
            - git push --mirror git@github.com:cbytedigital/docker-aws-cli-jq.git
    main:
      - step:
          name: Build and Push Docker Image
          services:
            - docker
          script:
            - export DOCKER_BUILDKIT=1
            - docker build -t cbytedigital/aws-cli-jq:latest .
            - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin
            - docker push cbytedigital/aws-cli-jq:latest
          caches:
            - docker